button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
  transform: translateZ(-5px);
}

button:after {
  transform: translateZ(-10px);
}
